/* patient_profile.css */
body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #27C2E1;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #fff;
    padding: 0px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button-container {
    display: flex;
}

.login-button, .support-button {
    background-color: #27C2E1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.login-button:hover, .support-button:hover {
    background-color: #1A98B9;
}

h1 {
    color: #333;
    font-size: 36px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
    width: 90%; /* Reduzi a largura do conteúdo principal para 90% da largura da tela */
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.patient-info, .medical-history, .appointment-history, .medications, .allergies, .prescription {
    width: 48%; /* Reduzi a largura das seções para 48% cada */
    text-align: left;
    margin: 10px 0;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h2 {
    color: #27C2E1;
    font-size: 24px;
    margin: 10px 0;
}

p {
    font-size: 18px;
    color: #333;
}

textarea {
    font-size: 16px;
    width: 100%;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}
