body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button-container {
    display: flex;
}

.login-button, .support-button {
    background-color: #27C2E1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.login-button:hover, .support-button:hover {
    background-color: #1A98B9;
}

h1 {
    color: #27C2E1;
    font-size: 36px;
}

p {
    font-size: 18px;
    color: #333;
}

.content {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 100px;
    flex: 1; /* Preenchimento flexível para ocupar o espaço restante na página */
}

footer {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    color: #555;
    font-size: 14px;
}
