/* support.css */

/* Estilo global */
body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #27C2E1;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button-container {
    display: flex;
}

.login-button, .support-button {
    background-color: #fff;
    color: #27C2E1;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.login-button:hover, .support-button:hover {
    background-color:#fff;
    color: #1A98B9;
}

h1 {
    color: #fff;
    font-size: 36px;
    margin: 0; /* Remova a margem padrão do h1 */
    padding: 10px 20px; /* Adicione espaço interno (padding) ao redor do h1 */
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
    width: 90%;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

/* Estilo do chat */
.chat-window {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    height: 400px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-messages {
    margin-bottom: 10px;
}

.message {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.message.received {
    background-color: #f0f0f0;
}

.message.sent {
    background-color: #27C2E1;
    color: #fff;
}

.chat-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #27C2E1;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    align-self: flex-end;
}

button:hover {
    background-color: #1A98B9;
}

.contact-section {
    margin-top: 120px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.contact-section p {
    font-size: 16px;
    color: #555;
}

.contact-section ul {
    list-style: none;
    padding: 0;
}

.contact-section li {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}
